* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffd99b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

petstage {
  font-size: 24px;
}

.container {
   text-align: center;
  max-width: 800px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.pet-container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bold;
  margin: 20px 0;
}

.pet-container img {
  max-width: 300px;
  height: auto;
  transition: transform 0.5s;
}

.progress {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}

#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #ffd99b;
  transition: width 0.5s;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tasks button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  background-color: #fcc75d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tasks button:hover {
  background-color: #ff661a;
}
